@font-face {
    font-family: 'Plain Light';
    src: url('./fonts/plain-light-webfont.woff') format('woff');
    font-weight: 300; /* 'light' is not a valid value for font-weight */
    font-style: normal;
}

@font-face {
    font-family: 'Plain Light';
    src: url('./fonts/plain-regular-webfont.ttf') format('truetype'); /* Correct format for TTF */
    font-weight: 400; /* 'normal' is equivalent to 400 */
    font-style: normal;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('./fonts/silkserif-lightitalic-webfont.woff') format('woff');
    font-weight: 300; /* 'light' is not a valid value for font-weight */
    font-style: italic; /* Assuming 'italic' is intended */
}

@font-face {
    font-family: 'Silk Serif';
    src: url('./fonts/silkserif-regularitalic-webfont.woff') format('woff');
    font-weight: 400; /* 'normal' is equivalent to 400 */
    font-style: italic; /* Assuming 'italic' is intended */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plain Light';
    color: white;

}

html,body{
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

/* #crsr{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    border: 1px solid #ffffff8f;
    position: fixed;
    z-index: 9999;
    transform: translate(-50%, -50%);
} */

.mousefollower{
    border: 2px #ffffff;
    background-color: rgb(255, 255, 255);
    scale: 2;
    /* mix-blend-mode: difference; */
}

#loader{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
}

.line {
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-family: "Silk Serif";
    font-weight: 100;
}

#line1-part1 h5{
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 1000;
}

.line h2{
    /* background-color: red; */
    height: 8vw;
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 1000;
    animation-name: anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0%{
        font-family: "plain light";
    }
    100%{
        font-family: "silk serif";
    }
}

#main{
position: relative;
/* background-color: #0B0B0B; */
background-color: #151515;
}

#page1{
    width: 100%;
    height: 100vh;
    margin-bottom: 10vh;
    /* background-color: #151515; */
}

#page1 #nav{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;  
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part2 h4{
    font-size: 1vw;
    font-weight: 400;
}

.hero{
    width: 70%;
    margin-left: 28%;
    height: fit-content;
    display: flex;
    overflow-y: hidden;
    align-items: center;
    z-index: 999;
}

.hero:nth-child(2){
    margin-top: 19vh;
}

.hero h1{
    position: relative;
    font-size: 7.5vw; 
    text-transform: uppercase;
    line-height: 7.5vw;
    font-weight: 500;
}

#hero1::before{
    content: "01";
    position: absolute;
    font-family: "silk serif";
    font-style: italic;
    font-size: 3vw;
    font-weight: 400;
    left: 17%;
    top: 33.4%;
}


.hero h2{
    font-size: 7.5vw; 
    text-transform: uppercase;
    line-height: 7.5vw;
    font-weight: 500;
    border-bottom: 0.5vw solid #fff;
}

.hero h2:hover{
    -webkit-text-stroke: 1px #ffff;
    color: transparent;
    border-bottom: 0.5vw solid #ffffff00;
} 

#page2{
    /* background-color: #151515; */
    height: 100vh;
    width: 100%;
    padding-top: 20vh;
    position: relative;
    margin-bottom: 20vh;
}

#video-container{
    height: 70vh;
    width: 71vw;
    left: 28.2%;
    position: relative;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size:cover;
    background-position: center;
}

/* #video-container img{
    position: absolute;
    object-fit: cover;   
    height: 100%;
    width: 100%;
    top: 0;
} */

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
} 

#video-cursor{ 
    background-color: #FFA63D;
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    position:absolute;
    top: -15%;
    left: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

#video-cursor i{
    /* height: 5vw;
    width: 5vw; */
    font-size: 2vw;
}

#page3{
    background-color: #151515;
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 7vh;
    padding-left: 28%;
    margin-bottom: 34vh;
    padding-right:6vw;
}

#page3 h1{
    font-size:7vw;
    text-transform: uppercase; 
    position: relative;
    
}

#page3 h1::before{
    content: "02";
    position: absolute;
    font-family: "silk serif";
    font-style: italic;
    font-size: 3vw;
    font-weight: 400;
    left: -16%;
    top: 11%;
}

#img-div-container{
    margin-left: -35%;
    position: relative;
    /* padding: 1vw; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.img-text{
    width: 30vw;
    display: flex;
    justify-content: left;
    flex-direction: column;
    height: fit-content;
    margin-right: 2vw;
}

#f1-container{
    margin-left: 0.8vw;
    width: 24vw;
}

#f4-container{
margin-top: -11vh;
}

#f3-container{
margin-top: 10vh; 
margin-left: -4vw;
}

#head{
    /* background-color: yellow; */
    font-size: 2.4vw;
    text-transform: uppercase;
    margin: 2vw 0vw;
}

.txt{
    margin-top: 2vw;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    /* background-color: green; */
    gap: 8vw;
}

.txt h2{
    /* width: 13vw; */
    font-weight: 400;
    font-size: 1vw;
}

.img-text .underline{
    height: 2px;
    width: 100%;
    background-color: white;
    margin: 2vw 0;      
}

.image-div{
    height: 40vw;
    width: 30vw;
    position: relative;
    overflow: hidden;
    /* flex-shrink: 0  ; */
    /* -ms-flex-negative: 0; */
}

#first-img{
    height: 30vw;
    width: 24vw;
}

.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   object-position: center; 
   position: absolute;
}

.page3-circle{
    height: 24vw;
    width: 24vw;
    border: 2px solid #ffff;
    border-radius: 50%;
    margin-top: 48vh;
    margin-left: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.page3-circle svg{
    height: 30%;
}

.page3-circle2{
    height: 24vw;
    width: 24vw;
    border: 2px solid #ffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5.1vw;
    margin-top: -8vw;
    position: relative;

}

.page3-circle2 svg{
    height: 30%;
    rotate: -45deg;
}

.circle-in{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    transition: all ease 0.5s;
    transition-delay: 0.3s;
}

.circle-in p{
    width: 57%;
    font-size: 1vw;
    color: black;
    scale: 0;
    opacity: 0;
    transition: all ease 0.5s;
    transition-delay: 0.6s;
}
.page3-circle2  p{
    width: 57%;
    font-size: 1vw;
    color: black;
    text-align: center;
    scale: 0;
    opacity: 0;
    transition: all ease 0.5s;
    transition-delay: 0.6s;
}

.page3-circle:hover .circle-in{
        scale: 1;
}
.page3-circle:hover .circle-in p{
        scale: 1;
        opacity: 1;
}


.page3-circle2:hover .circle-in{
        scale: 1;
}
.page3-circle2:hover .circle-in p{
        scale: 1;
        opacity: 1;
}


#page4{
    background-color: #151515;
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 7vh 0;
    margin-bottom: 25vh;
}

#page4-content{
    width: 72vw;
    margin-left: 28%;
    position:relative;
    padding-right:6vw;
}

#page4-content h1{
    font-size:7vw;
    text-transform: uppercase; 
    position: relative;
}

#page4-content h1::before{
    content: "03";
    position: absolute;
    font-family: "silk serif";
    font-style: italic;
    font-size: 3vw;
    font-weight: 400;
    left: -16%;
    top: 10%;
}

.underline{
    height: 2px;
    width: 100%;
    background-color: white;
    margin: 5vw 0;  
}

#page4-content>p{
    font-size:2.05vw;
    width: 50%;
    margin-bottom: 3vw;
}

#page4-flex{
    display: flex;
}

#page4-flex img{
    width: 48%;
}

#page4-flex p{
    font-size: 1vw;
    width: 19%;
    margin-left: 1vw;
}

#page4-blue-div{
    background-color: #3F7DF4;
    width: 44%;
    padding: 3vw;
    position: relative;
    margin-top: -35vh;
    margin-left: 45vh;
}

.blue-div-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom:1.4px solid white;
    padding: 2.4vw 0;
}
 
.blue-div-elem h4{
    font-size: 1.5vw;
    font-weight: 600;
}

.blue-div-elem p {
    width: 40%;
    font-size: 1vw;
}
.underline h6{
    padding-top:2vw;
    font-size: 1vw;
    font-weight: 500;
}

#page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    margin-bottom: 5vh;
} 

.elem{
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: -1.6vw;
    margin-top: -2vw;
}

.elem h1{
    font-weight: 500;
    font-size: 7vw;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #ffff;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation-name: marque;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes marque{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}


.elem2{
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: -1.6vw;
    margin-top: -2vw;

}

.elem2 h1{
    font-weight: 500;
    font-size: 7vw;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #ffff;
    color: transparent;
    display: inline-block;
    transform: translateX(calc(-100% - 20px));
    margin-right: 16px;
    animation-name: marque;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

.elem span{
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}

.elem2 span{
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}

#footer{
    height: 100vh;
    width: 100%;
    padding-left: 28%;
    position: relative;
    padding-right:6vw;
}

#footer h1 {
    font-size: 7.2vw;
    text-transform: uppercase;
    position: relative;
}

#footer-text {
    position: relative;
}

#footer-text h2 {
    font-size: 7.2vw;
    text-transform: uppercase;
    position: absolute;
    top: -10%;
    font-weight: 500;

    left: 0;
    font-family: "silk serif";
}

#footer-text h2 span {
    font-family: "silk serif";
    opacity: 0;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

#email{
    border-bottom: 2px solid #fff;
}

#footer-text::before {
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -13%;
    top: 10%;
}

.underline{
    height: 2px;
    width: 100%;
    background-color: white;
    margin: 5vw 0;  
}

#footer-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 15vw;
}


#footer-div h6{
    font-size: 1vw;
    margin-bottom: 1.8vw;
}

#footer-div h5 {
    font-size: 1.6vw;
    font-weight: 300;
}


._canvas_container{
    z-index: 9 !important;
    pointer-events: none;
}

#flag{
    width: 13vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate(-50%,-50%);
}

#hero3,#hero2,#hero4{
    /* background-color: red; */
    z-index: 999;
    position: relative;
}