* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plain Light';
    color: white;

}

html,body{
    height: 100%;
    width: 100%;
}

#crsr{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    /* background-color: white; */
    border: 1px solid #ffffff8f;
    position: fixed;
    z-index: 9999;
    transform: translate(-50%, -50%);
}

#loader{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
}

.line {
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-family: "Silk Serif";
    font-weight: 100;
}

#line1-part1 h5{
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 1000;
}

.line h2{
    /* background-color: red; */
    height: 8vw;
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 1000;
    animation-name: anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0%{
        font-family: "plain light";
    }
    100%{
        font-family: "silk serif";
    }
}

#main{
position: relative;
background-color: #030303;
}

#page1{
    width: 100%;
    height: 100vh;
    background-color: #151515;
}

#page1 #nav{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;  
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part2 h4{
    font-size: 1vw;
    font-weight: 400;
}

.hero{
    /* background-color: red; */
    width: 70%;
    margin-left: 28%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
}

.hero:nth-child(2){
    margin-top: 19vh;
}

.hero h1{
    
    font-size: 7.5vw; 
    text-transform: uppercase;
    line-height: 7.5vw;
    font-weight: 500;
}

.hero h2, .hero h3{
    
    font-size: 7.5vw; 
    text-transform: uppercase;
    line-height: 7.5vw;
    font-weight: 500;
}

.hero h2:hover{
    -webkit-text-stroke: 1px #ffff;
    color: transparent;
}